// Définition de la palette de couleur
$main-color: #9E2A2B;
$main-color-dark: #540B0E;

$secondary-color: #FFF3B0;
$secondary-color-dark: #E09F3E;

$light-color: #FEEFEF;
$dark-color: #452929;
$disabled-color: #BCBCBC;

$danger: rgb(216, 71, 71);
$danger-contrast: rgb(187, 53, 53);
$success: rgb(71, 216, 71);
$success-contrast: rgb(53, 187, 53);
$info: rgb(71, 71, 216);
$info-contrast: rgb(53, 53, 187);

//Définition de la taille de police
$std-title: 50px;
$small-title: 30px;
$large-paragraph: 25px;
$std-paragraph: 20px;
$small-paragraph: 15px;
$mini-paragraph: 10px;

//layout
$nav-content-margin: 150px;
$footer-content-margin: 100px;


//navbar
$separator: 350px;
$nav-height: 30px;
$strip-height: 100px;