.collapser {
	min-width: 300px;
	width: 100%;
	max-width: 1000px;

	box-sizing: border-box;

	background-color: $main-color;

	border-radius: 5px;

	padding: 15px;

	position: relative;

	label {
		font-size: $std-paragraph;
		font-family: 'Roboto', sans-serif;

		color: $light-color;

	}

	input {
		position: absolute;
		z-index: -1;
	}
}