.navLink-light {

  text-decoration: none;
  color: $light-color;

  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: $std-paragraph;

  padding: 5px;

  &:hover {

    border-bottom: 3px solid $secondary-color;

  }

}

.navLink-dark {

  text-decoration: none;
  color: $dark-color;

  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: $std-paragraph;

  padding: 5px;

  @media screen and (max-width: 1200px) {
    color: $light-color;
  }

  &:hover {

    border-bottom: 3px solid $secondary-color;

  }

}