.table {

  width: 100%;

  border: 1px solid $disabled-color;

  thead {
    tr {
      border-bottom: 1px solid $disabled-color;
      th {
        font-weight: 500;
        height: 25px;

        vertical-align: middle;
        text-align: center;

        padding: 5px 5px;
        border-right: 1px solid $disabled-color;
      }
      th.center {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $disabled-color;
      td {
        height: 30px;

        vertical-align: middle;

        padding: 5px 5px;
      }
      td.center {
        text-align: center;
      }
    }
    
  }

}

.table.striped {
  tbody tr:nth-child(odd) {
    background-color: white;
  }
}

.table.hovered {
  tbody tr:hover {
    background-color: $disabled-color;
  }
}