.booking-link {
  width: 100%;
  min-height: 250px;

  height: fit-content;

  text-align: center;

  background-color: $secondary-color-dark;

  display: inline-block;

  padding: 100px 0 50px 0;

  margin-bottom: $footer-content-margin;

  h2 {
    margin-bottom: 100px;
  }

}