.all-customer-books {
  min-width: 400px;
  width: 80%;
  max-width: 1200px;

  display: flex;

  flex-direction: column;
  row-gap: 50px;

  margin: $nav-content-margin auto $footer-content-margin auto;

  h2 {
    text-align: center;
  }

  .header-booking {
    border: 2px solid $dark-color;
    border-radius: 5px;

    max-width: 700px;
    padding: 10px;

    background-color: white;

    margin: auto;
  }

}