.login-form-separator {

  width: 0;

  border: 3px solid $dark-color;

}

.login-form {

  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;

  // margin: $nav-content-margin auto $footer-content-margin auto;

  form {

    min-width: 400px;
    width: 70%;
    max-width: 600px;
  
    // padding: 0 70px;
  
    // display: flex;
    // flex-direction: column;
    // justify-content: start;
    // align-items: center;
  
    // row-gap: 20px;
  
    .options-link > * {
      padding: 0 10px;
    }
  
    h2 {
      margin-bottom: 20px;
    }
  
  }

}


